@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --customOrange: hsl(26, 100%, 55%);
  --paleOrange: hsl(25, 100%, 94%);
  --customGray: hsl(219, 9%, 45%);
  --customLightGray: hsl(223, 64%, 98%);
  --customDarkBlue: hsl(220, 13%, 13%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
